.button {
   display: inline-block;
   padding: var(--padding-xl) var(--padding-xxl);
   background-color: var(--first-color);
   border-radius: 5rem;
}

.button:hover {
   background-color: var(--first-color-alt);
}