:root {
   /* Base variables */
   --header-height: 3.5rem;
   --body-font-family: "Inter";

   /* z-index variables */
   --z-fixed: 100;
   --z-modal: 1000;

   /* Spacement 8px grid */
   --space-128-pt: 6rem;
   --space-120-pt: 5.5rem;
   --space-104-pt: 5rem;
   --space-96-pt: 4.5rem;
   --space-88-pt: 4rem;
   --space-80-pt: 3.75rem;
   --space-72-pt: 3.25rem;
   --space-64-pt: 3rem;
   --space-56-pt: 2.5rem;
   --space-48-pt: 2rem;
   --space-40-pt: 1.75rem;
   --space-32-pt: 1.5rem;
   --space-24-pt: 1rem;
   --space-16-pt: .75rem;
   --space-8-pt: .5rem;
   --space-4-pt: .25rem;

   /* Font Size 4px grid */
   --fs-64-pt: 3rem;
   --fs-60-pt: 2.75rem;
   --fs-56-pt: 2.5rem;
   --fs-52-pt: 2.25rem;
   --fs-48-pt: 2rem;
   --fs-44-pt: 1.875rem;
   --fs-40-pt: 1.75rem;
   --fs-36-pt: 1.5rem;
   --fs-32-pt: 1.375rem;
   --fs-28-pt: 1.25rem;
   --fs-24-pt: 1.125rem;
   --fs-20-pt: 1rem;
   --fs-16-pt: .875rem;
   --fs-12-pt: .75rem;
   --fs-8-pt: .5rem;

   /* Line Height escala modular 1.25 */
   --lh-64-pt: 3.75rem;
   --lh-60-pt: 3.4375rem;
   --lh-56-pt: 3.125rem;
   --lh-52-pt: 2.8125rem;
   --lh-48-pt: 2.5rem;
   --lh-44-pt: 2.34375rem;
   --lh-40-pt: 2.1875rem;
   --lh-36-pt: 1.875rem;
   --lh-32-pt: 1.71875rem;
   --lh-28-pt: 1.5625rem;
   --lh-24-pt: 1.40625rem;
   --lh-20-pt: 1.25rem;
   --lh-16-pt: 1.09375rem;
   --lh-12-pt: 0.9375rem;
   --lh-8-pt: 0.625rem;

   /* Font Weight */
   --fw-extra-bold: 800;
   --fw-bold: 700;
   --fw-semibold: 600;
   --fw-medium: 500;
   --fw-regular: 400;
   --fw-light: 300;
}

*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--body-font-family);
   font-size: var(--fs-16-pt);
   line-height: var(--lh-16-pt);
   font-weight: var(--fw-regular);
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

button,
input,
textarea {
   font-family: var(--body-font-family);
   outline: none;
   border: none;
}

img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.grid {
   display: grid;
}

.container {
   max-width: 1440px;
   margin-inline: var(--space-24-pt);
}

@media screen and (max-width: 320px) {

}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1150px) {}


@media screen and (min-width: 1280px) {
   :root {
      /* Spacement 8px grid */
      --space-128-pt: 8rem;
      --space-120-pt: 7.5rem;
      --space-104-pt: 6.5rem;
      --space-96-pt: 6rem;
      --space-88-pt: 5.5rem;
      --space-80-pt: 5rem;
      --space-72-pt: 4.5rem;
      --space-64-pt: 4rem;
      --space-56-pt: 3.5rem;
      --space-48-pt: 3rem;
      --space-40-pt: 2.5rem;
      --space-32-pt: 2rem;
      --space-24-pt: 1.5rem;
      --space-16-pt: 1rem;
      --space-8-pt: .5rem;
      --space-4-pt: .25rem;

      /* Font Size  4px grid*/
      --fs-64-pt: 4rem;
      --fs-60-pt: 3.75rem;
      --fs-56-pt: 3.5rem;
      --fs-52-pt: 3.25rem;
      --fs-48-pt: 3rem;
      --fs-44-pt: 2.75rem;
      --fs-40-pt: 2.5rem;
      --fs-36-pt: 2.25rem;
      --fs-32-pt: 2rem;
      --fs-28-pt: 1.75rem;
      --fs-24-pt: 1.5rem;
      --fs-20-pt: 1.25rem;
      --fs-16-pt: 1rem;
      --fs-12-pt: .75rem;
      --fs-8-pt: .25rem;

      /* Line Height scala modular 1.25 */
      --lh-64-pt: 5rem;
      --lh-60-pt: 4.6875rem;
      --lh-56-pt: 4.375rem;
      --lh-52-pt: 4.0625rem;
      --lh-48-pt: 3.75rem;
      --lh-44-pt: 3.4375rem;
      --lh-40-pt: 3.125rem;
      --lh-36-pt: 2.8125rem;
      --lh-32-pt: 2.5rem;
      --lh-28-pt: 2.1875rem;
      --lh-24-pt: 1.875rem;
      --lh-20-pt: 1.5625rem;
      --lh-16-pt: 1.25rem;
      --lh-12-pt: 0.9375rem;
      --lh-8-pt: 0.625rem;
   }
}

@media screen and (min-width: 1440px) {

}