.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   z-index: 100;
   width: 288px;
   background-color: #fff;
   box-shadow: 2px 0 24px #33333317;
   padding-block: 1.5rem;
   margin: .75rem;
   border-radius: 1rem;
   transition: left .4s, background-color .4s, width .4s;
}

.sidebar__container,
.sidebar__content {
   display: flex;
   flex-direction: column;
   row-gap: 3rem;
}

.sidebar__container {
   height: 100%;
   overflow: hidden;
}

.sidebar__user {
   display: grid;
   grid-template-columns: repeat(2, max-content);
   align-items: center;
   column-gap: 1rem;
   padding-left: 2rem;
}

.sidebar__img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
}

.sidebar__info h3 {
   font-size: 1rem;
   color: #000;
   transition: color .4s;
}

.sidebar__info span {
   font-size: 14px;
}

.sidebar__content {
   overflow: hidden auto;
}

.sidebar__content::-webkit-scrollbar {
   width: .4rem;
   background-color: #f6f6f6;
}

.sidebar__content::-webkit-scrollbar-thumb {
   background-color: #dbdbdb;
}

.sidebar__title {
   width: max-content;
   font-size: 12px;
   padding-left: 2rem;
   margin-bottom: 1.5rem;
}

.sidebar__list,
.sidebar__actions {
   display: grid;
   row-gap: 1.5rem;
}

.sidebar__link {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, max);
   align-items: center;
   column-gap: 1rem;
   color: #494949;
   padding-left: 2rem;
   transition: color .4s, opacity .4s;
}

.sidebar__link img {
   width: 24px;
}

.sidebar__link span {
   font-weight: 600;
}

.sidebar__link:hover {
   color: var(--first-color);
}

.sidebar__actions {
   margin-top: auto;
}

.sidebar__actions button {
   cursor: pointer;
}

@media screen and (max-width: 360px) {
   .sidebar {
      width: max-content;
   }

   .sidebar__info,
   .sidebar__link span {
      display: none;
   }

   .sidebar__user,
   .sidebar__list,
   .sidebar__actions {
      justify-content: center;
   }

   .sidebar__user,
   .sidebar__link {
      grid-template-columns: max-content;
   }

   .sidebar__user {
      padding: 0;
   }

   .sidebar__link {
      padding-inline: 2rem;
   }

   .sidebar__title {
      padding-inline: .5rem;
      margin-inline: auto;
   }
}